*.class

# Package Files #
*.war
*.ear

# eclipse files
.project
.classpath
/bin
/.project_settings

#Downloads
downloads/*.txt
downloads/*.zip
downloads/*.ser
downloads/*.out

# idea files
.idea/
*.iml

# out files
out/
*.ser